<!--
  Generated template for the DoYouHaveAPlaceToStayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>MTL Compass
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="vertical-align-content" text-center>
  <ion-slides direction="vertical" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <ion-grid>
        <ion-row left justify-content-start>
          <ion-col col-sm-1 col-md-1 col-lg-3 offset-2>
              <button *ngIf="backView == false" id="doYouHaveAPlaceToStay-button59" (click)="slideBack()"   ion-button color="blue" clear item-end left> Back</button>
              <a *ngIf="menuView == true" (click)="openMenu()" id="doYouHaveAPlaceToStay-button54"  style="text-align:left;" ion-button color="blue" clear>Back</a>
          </ion-col>
        </ion-row>
          <ion-row left justify-content-start>
            <ion-col col-sm-3 offset-3 col-md-3 offset-4 col-lg-3 offset-4>
                <h4 text-left id="doYouHaveAPlaceToStay-heading23" style="color:#000000;" class="padding">Do you have a place to stay tonight?</h4>
            </ion-col>
          </ion-row>
          <ion-row left justify-content-start>
            <ion-col col-sm-1 col-md-1 col-lg-3 offset-3>
              <button id="doYouHaveAPlaceToStay-next" (click)="immmigrationMedicalExam()"  ion-button round item-end>
                Yes
              </button>
            </ion-col>
            <ion-col col-md-1>
              <button id="doYouHaveAPlaceToStay-next" (click)="slide()"  ion-button round item-end>
                No
              </button>
            </ion-col>
          </ion-row>
    </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row left justify-content-start>
          <ion-col col-md-1>
              <button *ngIf="backView == false" id="doYouHaveAPlaceToStay-button59" (click)="slideBack()"   ion-button color="blue" clear item-end left> Back</button>
              <a *ngIf="menuView == true" (click)="openMenu()" id="doYouHaveAPlaceToStay-button54"  style="text-align:left;" ion-button color="blue" clear>Back</a>
          </ion-col>
        </ion-row>
        <ion-row left justify-content-start>
      <ion-col col-sm-9>
          <h4 text-left id="medical" style="color:#000000;" class="padding">Do you prefer an All-Womens shelter?</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
            <button id="doYouHaveAPlaceToStay-button61" (click)="slide()" style="border-radius:50px 50px 50px 50px;" ion-button icon-left >Yes</button>
      </ion-col>
      <ion-col>
            <button id="doYouHaveAPlaceToStay-button61" (click)="shelterForEveryone()" style="border-radius:50px 50px 50px 50px;" ion-button icon-left >No</button>
      </ion-col>
    </ion-row>
    </ion-grid>
    </ion-slide>



    <ion-slide>
      <ion-grid>
        <ion-row left justify-content-start>
          <ion-col col-md-1>
              <button *ngIf="backView == false" id="doYouHaveAPlaceToStay-button59" (click)="slideBack()"   ion-button color="blue" clear item-end left> Back</button>
              <a *ngIf="menuView == true" (click)="openMenu()" id="doYouHaveAPlaceToStay-button54"  style="text-align:left;" ion-button color="blue" clear>Back</a>
          </ion-col>
        </ion-row>
        <ion-row left justify-content-start>
      <ion-col col-sm-9>
          <h4 text-left id="medical" style="color:#000000;" class="padding">Do you have children?</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
            <button id="doYouHaveAPlaceToStay-button61" (click)="shelterForWomenAndChildren()" style="border-radius:50px 50px 50px 50px;" ion-button icon-left >Yes</button>
      </ion-col>
      <ion-col>
            <button id="doYouHaveAPlaceToStay-button61" (click)="shelterForWomen()" style="border-radius:50px 50px 50px 50px;" ion-button icon-left >No</button>
      </ion-col>
    </ion-row>
    </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>
