<ion-header>

</ion-header>

<ion-content padding>
  <ion-slides direction="vertical" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
        <ion-row>
          <ion-col>
                <button *ngIf="backView == false" id="applyForWorkPermit-button59" (click)="slideBack()"   ion-button color="blue" clear no-padding no-margin float-left small>BACK</button>
                <a *ngIf="menuView == true" (click)="openMenu()" id=""  style="text-align:left;" ion-button color="blue" clear no-padding no-margin float-left small>BACK</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;" float-left>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
                <h5 float-left id="applyForWorkPermit-heading23" style="color:#000000;text-align:left;">You can apply for a work permit after you've completed your medical exam and Immigration, Refugees, and Citizenship Canada (IRCC) has received your results.</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button id="applyForWorkPermit-next" style="width: 60% !important;text-transform:none;background-color:#0072BC !important;color:white;" (click)="slide()"  ion-button round float-right >
                Next
              </button>
            </ion-col>
          </ion-row>
      </div>
    </ion-slide>

<!--  <ion-icon name="arrow-up" style="margin-right:5px !important;"></ion-icon>  -->

    <ion-slide>
      <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
        <ion-row>
          <ion-col>
            <button id="applyForWorkPermit-button59" (click)="slideBack()" style="text-align:left;" ion-button color="blue" clear float-left no-padding no-margin small> BACK</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;"  float-left>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <h4 float-left id="applyForWorkPermit-heading25" style="color:#000000;text-align:left;" >Call IRCC to ask if they have received your medical results. Then fill out work permit forms.</h4>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
              <button style="width: 60% !important;text-transform:none;color:#0072BC !important;" ion-button round float-right outline icon-left>
                <ion-icon name="ios-call" item-start></ion-icon>
                Call IRCC
              </button>
            </ion-col>

          </ion-row>
            <ion-row>
              <ion-col>
                <button  id="applyForWorkPermit-button61" style="width: 60% !important;text-transform:none;background-color:#0072BC !important;color:white;" (click)="slide()" ion-button round  float-right  icon-left padding >
                  <ion-icon name="information-circle" item-start></ion-icon>
                    Prepare Forms
                </button>
            </ion-col>
          </ion-row>
        </div>
    </ion-slide>



    <ion-slide>
      <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
        <ion-row>
          <ion-col>
            <button id="applyForWorkPermit-button59" (click)="slideBack()" style="text-align:left;" ion-button color="blue" clear no-padding no-margin float-left small>BACK</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;" float-left>
          </ion-col>
        </ion-row>
        <ion-row center>
          <ion-col center>
              <h5 float-left id="applyForWorkPermit-heading25" style="color:#000000;text-align:left;text-transform:none;" class="padding">You must fill out work permit forms (IMM5710 and IMM556) as well as photocopies of:</h5>
            </ion-col>
          </ion-row>

              <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">

                <ul style="text-align:left !important;">
                <li>IMM1442 immigration document</li>
                <li>Date of your IRB hearing</li>
                <li>Welfare slip of last welfare check</li>
                <li>Passport</li>
              </ul>
            </div>

        <ion-row>
          <ion-col>
                <button id="applyForWorkPermit-button61" (click)="slide()" style="width: 60% !important;text-transform:none;color:#0072BC;" ion-button icon-left float-right outline round>
                  <ion-icon name="briefcase"></ion-icon>
                  Submit forms
                </button>
            </ion-col>
          </ion-row>
        </div>
    </ion-slide>

    <ion-slide>
      <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
        <ion-row>
          <ion-col>
            <button id="applyForWorkPermit-button59" (click)="slideBack()" style="text-align:left;text-transform:none;" ion-button float-left color="blue" clear no-padding no-margin  small>BACK</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;"  float-left>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4 id="applyForWorkPermit-heading29" style="color:#000000;" class="padding" style="text-align:left;text-transform:none;" float-left>It is strongly advised that you send your application online, but you can also send your completed forms and documents to Immigration, Refugees and Citizenship Canada.</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button id="applyForWorkPermit-button61" (click)="slide()" style="width: 60% !important;text-transform:none;color:#0072BC;" ion-button icon-left round float-right outline >
            <ion-icon name="mail"></ion-icon>
            Mail to IRCC
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button id="applyForWorkPermit-button61" (click)="reDirect()" style="width: 60% !important;text-transform:none;background-color:#0072BC !important;color:white;" ion-button icon-left round outline float-right>
            <ion-icon name="briefcase"></ion-icon>
            Submit online
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-slide>


    <ion-slide>
      <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
        <ion-row>
          <ion-col>
            <button id="" (click)="slideBack()" style="text-align:left;text-transform:none;" ion-button color="blue" clear no-padding no-margin float-left small>BACK</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;"  float-left>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4 id="applyForWorkPermit-heading29" style="color:#000000;" padding style="text-align:left;" float-left>Mail work permit application to:</h4><br>
            <p  paddingstyle="color:#000000;font-size:14px;text-align:left;">IRCC, Case Processing Centre - Work Permit<br>
            <strong>6212 55th Ave, Unit 55, Vegreville, AB, T9C 1X6</strong>
          </p>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
        <button id="applyForWorkPermit-button61" (click)="reDirect()" style="width: 60% !important;text-transform:none;color:#0072BC;" ion-button icon-left round outline float-right >

          <ion-icon name="briefcase"></ion-icon>
          Submit online
        </button>
      </ion-col>
    </ion-row>
  </div>
  </ion-slide>






  </ion-slides>
</ion-content>

<ion-footer>
  <ion-navbar hideBackButton="true">
      <button ion-button icon-left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title float-right style="text-align:right;">MTL Compass</ion-title>
  </ion-navbar>

</ion-footer>
