<ion-header>

</ion-header>

<ion-content padding>
  <ion-slides direction="vertical" (ionSlideDidChange)="slideChanged()">
  <ion-slide>
    <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
      <ion-row left justify-content-start>
        <ion-col>
            <button *ngIf="backView == false" id="applyForWorkPermit-button59" (click)="slideBack()"   ion-button color="blue" clear item-end float-left no-padding no-margin> BACK</button>
            <a *ngIf="menuView == true" (click)="openMenu()" id="applyForWorkPermit-button54"  style="text-align:left;" ion-button color="blue" clear no-padding no-margin float-left small>BACK</a>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col justify-content-start>
            <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;" float-left>
        </ion-col>
      </ion-row>
        <ion-row left justify-content-start>
          <ion-col>
              <h4 float-left id="applyForWorkPermit-heading23" style="color:#000000;text-align:left;" padding>Have you applied for financial assistance (welfare)?</h4>
          </ion-col>
        </ion-row>
        <ion-row left justify-content-start>
          <ion-col>
            <button id="applyForWorkPermit-next" (click)="applyForWorkPermit()" style="width:60% !important;text-transform:none;color:#0072BC;" ion-button  icon-left round outline float-right>
              Yes
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button id="applyForWorkPermit-next" (click)="slide()" style="width:60% !important;text-transform:none;background-color:#0072BC !important;color:white;" icon-left ion-button round float-right>
              No
            </button>
          </ion-col>
        </ion-row>
    </div>
  </ion-slide>



  <ion-slide>
    <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
      <ion-row left justify-content-start>
        <ion-col>
            <button id="" (click)="slideBack()" style="text-align:left;text-transform:none;" ion-button color="blue" clear no-padding no-margin float-left small>BACK</button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col justify-content-start>
            <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;" float-left>
        </ion-col>
      </ion-row>
      <ion-row left justify-content-start>
        <ion-col>
            <h4 float-left id="medical" style="color:#000000;text-align:left;" padding>As a newcomer you may recieve social assistance if you meet eligibility criteria similar to those of residents.</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
              <button id="" (click)="reDirect()" style="width:60% !important;text-transform:none;color:#0072BC;" ion-button icon-left round outline float-right>
                <ion-icon name="ios-information-circle-outline"></ion-icon>
                More Information</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
              <button id="applyForWorkPermit-button61" (click)="slide()" style="width:60% !important;text-transform:none;background-color:#0072BC !important;color:white;" ion-button round icon-left float-right>
                <ion-icon name="briefcase"></ion-icon>
                Submit
              </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-slide>


  <ion-slide>
    <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
      <ion-row left justify-content-start>
        <ion-col>
              <button id="" (click)="slideBack()" style="text-align:left;" ion-button color="blue" clear no-padding no-margin float-left small>BACK</button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col justify-content-start>
            <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;" float-left>
        </ion-col>
      </ion-row>
      <ion-row left justify-content-start>
        <ion-col>
            <h4 float-left id="medical" style="color:#000000;text-align:left;" padding>Once you've completed the welfare form, you must submit it to:</h4>
            <p padding style="text-align:left;">Centre Specialise Des Demandeurs D'asile (CSDA):<br/>
              <strong>1004 St-Antoine Street West (Metro Bonaventure)</strong>
            </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
              <button id="" (click)="callOrg()" style="width:60% !important;text-transform:none;color:#0072BC;"  ion-button icon-left round outline float-right >
                <ion-icon name="ios-call-outline"></ion-icon>
                Call Orgnization
              </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
              <button id="" (click)="openMap()" style="width:60% !important; text-transform:none;background-color:#0072BC !important;color:white;" ion-button icon-left round float-right>
                <ion-icon name="ios-map-outline"></ion-icon>
                Get directions
              </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-slide>
</ion-slides>
</ion-content>

<ion-footer>
  <ion-navbar hideBackButton="true">
      <button ion-button icon-left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title float-right style="text-align:right;">MTL Compass</ion-title>
  </ion-navbar>
</ion-footer>
