<ion-header>

</ion-header>

<ion-content padding>
  <ion-slides direction="vertical" (ionSlideDidChange)="slideChanged()">

  <ion-slide>
    <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
      <ion-row>
        <ion-col>
            <button *ngIf="backView == false" id="doYouHaveAPlaceToStay-button59" (click)="slideBack()"   ion-button color="blue" clear float-left no-padding no-margin> BACK</button>
            <a *ngIf="menuView == true" (click)="openMenu()" id=""  style="text-align:left;" ion-button color="blue" clear no-padding no-margin float-left small>BACK</a>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;" float-left>
        </ion-col>
      </ion-row>
        <ion-row >
          <ion-col >
              <h4 float-right id="doYouHaveAPlaceToStay-heading23" style="color:#000000;text-align:left;" padding>Do you have a question? I can help find the answer or you connect to the right organization.</h4>
          </ion-col>
        </ion-row>
        <ion-row left justify-content-start>
          <ion-col >
            <button (click)="slide()" style="width: 60% !important;text-transform:none;background-color:#0072BC !important;color:white;" ion-button icon-left round float-right>
              <ion-icon  name="help" md="md-help" item-start ></ion-icon>
              Ask
            </button>
          </ion-col>
        </ion-row>
  </div>
  </ion-slide>

  <ion-slide>
    <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
      <ion-row>
        <ion-col >
          <button id="" (click)="slideBack()" style="text-align:left;text-transform:none;" ion-button color="blue" clear no-padding no-margin float-left small>BACK</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;" float-left>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <h4 padding float-left>What can I help you with?</h4>
        </ion-col>
      </ion-row>
      <form>
        <ion-item  no-padding no-lines>
          <ion-label no-padding style="height:100px;"></ion-label>
          <span></span>
          <ion-textarea no-padding placeholder="How can I enroll my children in school?" [(ngModel)]="question" name="question" style="border-width:1px;border-style:solid;border-color:#ddd;border-right:0px !important; border-left:0px !important;color:#444;"></ion-textarea>
        </ion-item>
        <button style="width: 60% !important;text-transform:none;color:#0072BC;" type="submit" (click)="slide()" ion-button round outline float-right icon-left>
          Next
        </button>
      </form>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="Absolute-Center" style="max-width: 375px; width:100%; margin: auto; text-align: center;">
      <ion-row left justify-content-start>
        <ion-col >
          <button id="" (click)="slideBack()" style="text-align:left;text-transform:none;" ion-button color="blue" clear no-padding no-margin float-left small> BACK</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <img src="../../assets/imgs/compass.png" style="width:70px;height:70px;" float-left>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <h4 padding float-left>What is the best email we can reach you at?</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <form (ngSubmit)="sendEmail()">
            <ion-item no-padding>
              <ion-label>Email</ion-label>
              <ion-input full type="text" [(ngModel)]="emailAddr" name="title"></ion-input>
            </ion-item>
            <button  type="submit"  ion-button full block icon-left style="background-color:#0072BC !important;color:white;">
              <ion-icon ios="ios-send-outline" md="md-send"></ion-icon>
              Ask Question
            </button>
          </form>
        </ion-col>
      </ion-row>
</div>
  </ion-slide>

</ion-slides>
</ion-content>

<ion-footer>
  <ion-navbar hideBackButton="true">
      <button ion-button icon-left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title float-right style="text-align:right;">MTL Compass</ion-title>
  </ion-navbar>
</ion-footer>
