page-i-have-a-question {

}


.Absolute-Center {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  height: 90%;

}

ion-icon{
  margin-right: 20px;
  margin-left:0px;
  padding-left: 0px;
}

ion-button{
  margin-left:0px;
}
